<div>
	<h1>Page 1</h1>
  <div> {{error}} </div>
      <!-- 
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Index
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li ng-repeat="indexx in indices"><a ng-model="indexx.name"> {{indexx.name}} </a></li>
      </ul>
      </div>
      -->
      <select ng-model="indexx"  ng-click="searchIndex(indexx)" ng-options="indexx for indexx in indices"><option value="">Choose Index</option></select>
      <select ng-model="type" ng-click="search(indexx, type)" ng-options="type for type in types"><option value="">Choose Type</option></select>
    <input type="text" placeholder="User" ng-model="f._source.User" />
    <input type="text" placeholder="Original User/Web" ng-model='f._source["Original_User/Web"]' />
    <input type="text" placeholder="Tweet" ng-model="f._source.Tweet" />

  <table class="table table-striped"> <!--Better Looking-->
    <thread>
      <tr>
        <th>Index</th>
        <th>Type</th>
        <th>User</th>
        <th>Original User/Web</th>
        <th>Neutral</th>
        <th>Compound</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Tweet</th>
      </tr>
    </thread>
    <tbody>
      <!-- use "-" in orderBy for descending order -->
      <tr ng-repeat="tweet in tweets | filter: f">
        <td> {{tweet._index}} </td>
        <td> {{tweet._type}} </td>
        <td> {{tweet._source.User}} </td>
        <td> {{tweet._source["Original_User/Web"]}} </td>
        <td> {{tweet._source.Neutral}} </td>
        <td> {{tweet._source.Compound}} </td>
        <td> {{tweet._source.Positive}} </td>
        <td> {{tweet._source.Negative}} </td>
        <td> {{tweet._source.Tweet}} </td>
      </tr>
    </tbody>
  </table>
</div>
